
  <ul id="slides">
    <% @possibles.each_with_index do |possible, i| %>
    <div class="slide <%= 'showing' if i == 0 %>" data-id="<%= possible.id %>">
      <li class="user-details"> <%= possible.first_name %> </li>
      <% if possible.avatar.attached? %>
      <div class="image-carousel d-flex flex-column text-align-center"> <%= cl_image_tag possible.avatar.key, :width => 250, :crop => "pad", class:"image" %> </div>
      <% end %>
    </div>
    <% end %>
  </ul>



<div class="d-flex flex-column align-items-center">
  <div id="slide-controls">
    <span class="controls" id="decline"><i class="fa fa-times fa-2x"></i></span>
    <span class="controls" id="approve"><i class="fa fa-check fa-2x"></i></span>
  </div>
</div>





