// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
}

.banner .btn-primary {
  justify-content: center;
  align-items: center;
  background-color: #FF385C;
  padding: 16px 36px;
  border-radius: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
}

.card-trip {
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.btn-blue {
  background-color: #FF385C;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.banner img {
  height: auto;
  position: absolute;
  top: 196px;
}

.btn-primary {
  background-color: #FF385C;
  border-color: #FF385C;
}

.container {
  position: absolute;
  bottom: 137px;
}

.homepage-title {
  text-align: center;
  color: #FF385C;
  font-size: 95px;
  letter-spacing: 0.40rem;
  font-weight: bold;
}

.slogan {
  text-align: center;
  font-size: 33px;
}

.login-signup-buttons {
  display: flex;
  justify-content: center;
}

.btn-left {
  margin-right: 10px;
}

.btn-right {
  margin-left: 10px;
}

.welcome {
  text-align: center;
}

.welcome-to {
  color: #FF385C;
  font-size: 64px;
  letter-spacing: 0.15rem;
  font-weight: bold;
}

.homepage-buttons {
  display: flex;
  justify-content: center;
}

.welcome-message {
  position: relative;;
  top: 300px;
}
