.card-white {
  background: white;
  height: 100vh;
  background-image: image-url('watermelon-pack-illustration-11.png');
h1 {
  color: #FF385C;
}
}

.container-form {
  background: #white;
}


.wubba-form {
  margin-top: 5px;
}
