<div class="banner">
  <div class="homepage-heading">
    <h1 class="homepage-title">WUBBA</h1>
  </div>
<!--   <div class="wubba-image">
    <%= image_tag("watermelon-pack-illustration-19.png") %>
  </div> -->
  <div class="slogan">
    <p>Learning is a series of partnerships</p>
  </div>
  <div class="login-signup-buttons">
    <% if user_signed_in? %>
    <% else %>
    <%= link_to "LOGIN", new_user_session_path, class: "btn-primary sign" %>
    <%= link_to "SIGN UP", new_user_registration_path, class:"btn-primary sign" %>
    <% end %>
  </div>
</div>

<!-- style="color: #FF385C;font-size: 72px;text-align: center;position: absolute;top: 82px;right: 850px; -->
