<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1 style="color: white;font-size: 72px; text-align: center;">WUBBA</h1>
    <p style="color: white; font-size: 36px; text-align: center;">Learning is a series of partnerships</p>
    <a class="btn-primary" href="#">Search Threads</a>
  </div>
</div>
