<div class="banner">
  <h1 style="color: #FF385C;font-size: 72px;text-align: center;position: absolute;top: 82px;right: 850px;">WUBBA</h1>
  <%= image_tag("watermelon-pack-illustration-19.png") %>
  <div class="container">
    <p>Learning is a series of partnerships</p>
    <% if user_signed_in? %>
    <% else %>
      <%= link_to "LOGIN", new_user_session_path, class: "btn-primary sign" %>
      <%= link_to "SIGN UP", new_user_registration_path, class:"btn-primary sign" %>
    <% end %>
  </div>
</div>
