<div class="card-white">
 <div class="d-flex flex-column align-items-center">
  <h1>Add Tech Stack</h1>
 <%= render 'form', user_selection: @user_selection %>
</div>
</div>
<!-- change form to fit mobile use
drop down for experience -->
