
<div class="card-form">
 <div class="d-flex flex-column align-items-center">
  <h3 id="add-stack">Add Stacks</h3>
  <div class="wubba-form">
   <%= render 'form', user_selection: @user_selection %>
</div>
</div>
<!-- change form to fit mobile use
drop down for experience -->
