.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
}

.card-white {
  background-color: white;
  border-radius: 7px;
}

.card-white h1 {
  text-align: center;
  color: #FF385C;
  font-weight: bold;
  letter-spacing: 0.08rem;
}

.profile {
  background-color: white;
  border-radius: 4px;
  margin: 40px 0px;
}

.profile h2 {
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
}

.box {
  // text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: white;
  // border: 0.2px solid rgba(0,0,0,0.1);
  padding-left: 20px;
}

.box h5 {
  color: #FF385C;
  font-size: small;
  font-weight: bold;
}

.box p {
  font-size: small;
}

.avatarimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
}

.name {
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-product {
  overflow: hidden;
  // height: 120px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.card-product img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos {
  padding-left: 25px;
  padding-right: 25px;
}

.card-product-infos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-infos a {
  color: black;
}

.card-product-all {
  overflow: hidden;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.card-product-all img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.fa-bell:before {
    color: white;
}

.nav-pills .nav-link.active {
  background-color: white;
  color: #FF385C;
  width: 50vw;
  text-align: center;
  letter-spacing: 0.08em;
  font-weight: bold;
}

.nav-pills .nav-link {
  background-color: #FF385C;
  color: white;
  width: 50vw;
  text-align: center;
  letter-spacing: 0.08em;
  font-weight: bold;
}

#search-form {
  display: none;
}

#slide-controls {
  display: none;
}

#warning-message {
  width: 80%;
}

.border {
      border-bottom-width: var(--border-rule-border-width, 1px) !important;
    border-bottom-color: var(--color-divider, #EBEBEB) !important;
}

@media screen and (max-width: 600px) {
  .container {
    color: #FF385C;
    font-size: 36px;
    text-align: center;
    position: absolute;
    top: 584px;
  }
}

.swipe {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 5px;
  color: white;
  svg {
    stroke: white;
  }
}

.melon {
  background-size: cover;
  background-position: center;
  padding: 135px 0;
  img {
    height: auto;
    width: 100%;
    margin: auto;
  }
}
