.navbar-lewagon {
  justify-content: space-between;
  background: #FF385C;;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sign {
  color: black;
  background-color: #FF385C;
  border-color: #FF385C;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 20px;
  letter-spacing: 0.04rem;
}

.login {
  font-size: 25px;
  color: black;
  padding: 0.5rem 1rem;
  letter-spacing: 0.04rem;
}

.nav-link {
  font-size: 20px;
  padding: 0.5rem 1rem;
  letter-spacing: 0.04rem;
  color: #FF385C;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}

.navbar-lewagon .navbar-brand {
  color: white;
  font-weight: bold;
}

.fa-lg {
position: absolute;
    right: 64px;
    top: 11px;
  }
